<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <title>DND App</title>
</head>
<body>
  <nav>
    <a href="/posts">Home</a>
    {{#if username}}
      <a href="/users/{{id}}">Profile</a>
      <a href="">Groups</a>
      <a href="/users/logout">Logout</a>
      <p>{{username}} is logged in</p>
    {{else}}
      <a href="/users/login">Login</a>
      <a href="/users/register">Register</a>
    {{/if}}
  </nav>
  {{{body}}}

</body>
</html>