<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <title>DND App</title>
</head>
<body>
  <nav>
    <a href="">Home</a>
    <a href="">Profile</a>
    <a href="">Groups</a>
    <a href="">Logout</a>

  <h1>DND APP: Stay awhile and listen</h1>
  </nav>
  {{{body}}}

</body>
</html>