<h1>Login</h1>
<form action='/users/login' method='post'>
  <div>
    <label>Email</label>
    <input type='type' name='email' />
  </div>
  <div>
    <label>Password</label>
    <input type='password' name='password' />
  </div>
  <div>
    <input type='submit' value='Login' />
  </div>
</form>