<h1>Register</h1>

<form action='/users/register' method='post'>
  <div>
    <label>Username</label>
    <input type='type' name='username' />
  </div>
  <div>
    <label>Email</label>
    <input type='type' name='email' />
  </div>
  <div>
    <label>Password</label>
    <input type='password' name='password' />
  </div>
  <div>
    <input type='submit' value='Register' />
  </div>
</form>