<form action='/character' method='post'>
  <label for='username'>Username: </label>
  <br>
  <input type='text' id='username' name='username' value='{{username}}'>
  <br>
  <br>
  <label for='title'>Email: </label>
  <br>
  <input type='text' id='email' name='email' value='{{email}}'>
  <br>
  <br>
  <label for='content'>Confirm Old Password: </label>
  <br>
  <input type='text' id='oldpassword' name='oldpassword' ></input>
  <br>
  <br>
  <label for='content'>New Password: </label>
  <br>
  <input type='text' id='newpassword' name='newpassword' ></input>
  <br>
  <br>
  <input type='submit' value='Update'>
</form> 